<nav>
    <div class="site-title">
        <a href ="/"><h1>Bhumi's Blog</h1></a>
        <p><%= title %></p>
        <p>just for learning purpose</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">Create Blogs</a></li>
    </ul>
</nav>